<section class="container py-20 flex flex-col gap-11">
  <div class="flex flex-col items-center gap-6">
    <h2 class="text-primary text-4xl font-bold">
      Hörmətli həmkarlar və səhiyyə işçiləri
    </h2>
    <hr class="bg-tertiary w-9 h-1.5 border-0 rounded" />
  </div>
  <div class="flex max-md:flex-col items-end gap-10">
    <div class="md:w-7/20 text-end text-base">
      <p>Hörmətlə,</p>
      <p><strong>Konfrans sədri:</strong> Dr.Xəyyam Eyvazov</p>
      <p>
        <strong> Elmi komitə sədri: </strong> Prof. Dr. Hasan İlkova
      </p>
      <strong> Katiblər: </strong>
      Dr. Gülay Həsən Prof. Dr. Tamer Tetiker Dos. Dr. Gamze Akkuş
    </div>
    <div class="text-base md:w-13/20">
      Sizi 6-7 sentyabr 2025-ci il tarixlərində Bakı Gənclər Mərkəzində
      keçiriləcək 1-ci Azərbaycan-Türkiyə Diabet Günlərinə dəvət etməkdən böyük
      məmnunluq duyuruq. Azərbaycan Endokrinoloqlar Cəmiyyəti və Türkiyə Diabet
      Cəmiyyəti tərəfindən birgə təşkil olunan bu tədbirdə həm ölkəmizdən, həm
      də Türkiyədən tanınmış professor və mütəxəssislər diabet sahəsində elmi və
      praktik məruzələrlə çıxış edəcəklər. Toplantı çərçivəsində diabetin
      müalicəsində komanda yanaşmasının vacibliyini vurğulamaq məqsədilə paralel
      olaraq “Diabet üzrə tibb bacısı kursu” və “Diabet dietologiyası kursu” da
      təşkil olunacaq. Tibb bacıları üçün kurs Türkiyədən dəvət olunmuş
      təcrübəli mütəxəssis tərəfindən aparılacaq, dietoloqlar üçün nəzərdə
      tutulmuş proqram isə Azərbaycan Nutrisiologiya və Dietologiya
      Assosiasiyasının təşkilatçılığı ilə baş tutacaq. Konfransın elmi proqramı
      praktiki yönümlü yanaşmalarla zənginləşdirilərək, iştirakçılar üçün
      faydalı müzakirə və bilik mübadiləsi platforması yaradacaqdır. Sizi bu
      mühüm toplantının bir parçası olmağa və diabet sahəsində biliklərinizi
      daha da genişləndirməyə dəvət edirik.
    </div>
  </div>
</section>
