---
import { Icon } from "astro-icon/components";
---

<section
  style="background-image: url(/63811-1.jpg);"
  class="h-123 lg:h-205 bg-cover bg-no-repeat"
>
  <div class="max-lg:p-2.5 container flex h-full max-lg:min-w-full">
    <div class="w-2/5 max-lg:hidden"></div>
    <div class="lg:w-3/5 h-full flex flex-col justify-center gap-5">
      <h1 class="text-5xl lg:text-7xl font-medium text-white">
        I Milli Endokrinologiya <br /> KONFRANSI
      </h1>
      <hr class="bg-tertiary border-0 w-1/5 h-1.5 rounded my-4" />
      <div class="grid grid-cols-2 gap-5">
        <div class="text-base text-white">
          Sizi Azərbaycan Endokrinoloqlar Cəmiyyətinin ilk elmi-praktik
          topantısına dəvət edirik.
        </div>
        <div class="flex justify-end">
          <a
            href="#"
            class="disabled:bg-dark bg-secondary not-disabled:hover:bg-primary text-white text-base rounded-[50px] py-4 px-6 gap-7.5 flex items-center text-nowrap transition-all"
          >
            Qeydiyyatdan keç <Icon name="tabler:arrow-up-right" size={30} />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
