---
import { Icon } from "astro-icon/components";
---

<section class="bg-secondary py-12.5">
  <div class="grid md:grid-cols-2 container max-md:gap-5">
    <div class="text-white text-base font-medium flex items-center gap-4">
      <i class="fa-regular fa-calendar-days text-3xl"></i>24-26 may, 2024
    </div>
    <div class="text-white text-base font-medium flex items-center gap-4">
      <Icon name="material-symbols:location-on-outline" size={36} />
      Ritz-Carlton Hotel, Bakı, Azərbaycan
    </div>
  </div>
</section>
