<article
  class="min-h-80 group flex flex-col justify-end relative overflow-hidden rounded"
>
  <div
    class="transition-all duration-500 group-hover:bg-primary z-1 size-full p-7.5 flex flex-col justify-end items-start gap-4"
  >
    <div class="font-semibold text-white text-2xl">
      I Azərbaycan-Türkiyə Diabet Günləri
    </div>
    <div class="text-white text-xs">06-07 sentyabr, 2025</div>
    <a
      href="/conference"
      class="rounded-[50px] border-2 border-white text-white hover:text-primary hover:bg-white transition-all text-base py-3 px-6"
    >
      Ətraflı
    </a>
  </div>
  <div
    class="bg-no-repeat bg-cover bg-center absolute inset-0 transition-all duration-500 group-hover:scale-120"
    style="background-image: url(/istockphoto-1266580964-612x612-1-e1716402592864.jpg);"
  >
  </div>
  <div
    class="z-10 absolute overflow-hidden text-dark bg-secondary text-sm -rotate-45 w-32 text-center top-4 -left-8 shadow-md"
  >
    Bitib
  </div>
</article>
