<section class="py-20 grid md:grid-cols-2 gap-5 container">
  <div class="flex flex-col gap-5">
    <hr class="w-9 bg-tertiary border-0 h-2 rounded" />
    <div class="text-primary text-3xl font-medium">
      Üzvlük müraciəti üçün aşağıdakı “Bizə qoşulun” düyməsini klik edərək
      qeydiyyat formasına keçid edə bilərsiniz.
    </div>
  </div>
  <div class="text-base text-dark">
    Üzvlük qaydaları və şərtləri Əsasnamədə əks olunmuşdur. Üzvlərimiz
    Əsasnamədə nəzərdə tutulmuş bütün hüquq və imkanlara sahib olmaqla birlikdə
    cəmiyyət tərəfindən həyata keçirilən bütün növ fəaliyyətlərdə iştirak edə
    bilərlər. Hal-hazırda cəmiyyətə üzv olmaq illik 50 (əlli) azn təşkil edir.
  </div>
</section>
