---
import { Image } from "astro:assets";
import logo from "../../../public/logo-2.jpeg";

const year: string =
  "2025" +
  (new Date().getFullYear() !== 2025 ? " - " + new Date().getFullYear() : "");
---

<footer class="bg-primary">
  <div
    class="container flex items-center justify-center sm:justify-between py-7.5 flex-wrap max-sm:gap-7.5"
  >
    <div>
      <a href="/" class="w-42 inline-block">
        <Image src={logo} alt="Logo" />
      </a>
    </div>
    <div class="flex items-center gap-2">
      <a
        href="https://instagram.com"
        target="_blank"
        aria-label="Instagram"
        class="size-11 bg-white/10 rounded-full flex items-center justify-center hover:bg-secondary transition-all"
      >
        <i class="fa-brands fa-instagram text-white text-base"></i>
      </a>
      <a
        href="https://whatsapp.com"
        target="_blank"
        aria-label="WhatsApp"
        class="size-11 bg-white/10 rounded-full flex items-center justify-center hover:bg-secondary transition-all"
      >
        <i class="fa-brands fa-whatsapp text-white text-base"></i>
      </a>
      <a
        href="https://facebook.com"
        target="_blank"
        aria-label="Facebook"
        class="size-11 bg-white/10 rounded-full flex items-center justify-center hover:bg-secondary transition-all"
      >
        <i class="fa-brands fa-facebook-f text-white text-base"></i>
      </a>
      <a
        href="https://youtube.com"
        target="_blank"
        aria-label="YouTube"
        class="size-11 bg-white/10 rounded-full flex items-center justify-center hover:bg-secondary transition-all"
      >
        <i class="fa-brands fa-youtube text-white text-base"></i>
      </a>
    </div>
  </div>
  <hr class="h-px bg-white/10 border-0" />
  <div class="py-7 container text-white/50 text-sm">
    © {year} Bütün hüquqlar qorunur. Developed by
    <a
      href="https://arenda.az"
      target="_blank"
      class="hover:text-secondary hover:underline transition-all"
    >
      Arenda.az
    </a>.
  </div>
</footer>
