<section class="py-20 grid md:grid-cols-2 gap-5 container">
  <div class="flex flex-col gap-5">
    <hr class="w-9 bg-tertiary border-0 h-2 rounded" />
    <div class="text-primary text-3xl font-medium">
      “Azərbaycan Endokrinoloqlar Cəmiyyəti” İctimai Birliyi 13 oktyabr 2023-cü
      ildə təsis olunub.
    </div>
  </div>
  <div class="text-base text-dark">
    Birlik endokrinologiya və əlaqəli sahələrdə fəaliyyət göstərən həkimləri,
    elmi və ictimai qurumları bir araya gətirərək əlaqələri inkişaf etdirmək,
    ölkəmizin elminə töhfə vermək məqsədi daşıyan və gəlir əldə etməyi nəzərdə
    tutmayan qeyri-hökumət təşkilatıdır.
  </div>
</section>
