<section class="bg-neutral-100 py-20">
  <div class="container grid md:grid-cols-3 gap-5">
    <a
      href="#"
      class="md:col-span-2 min-h-62.5 group flex flex-col justify-end relative overflow-hidden rounded"
    >
      <div
        class="font-semibold text-white text-2xl group-hover:text-primary transition-all duration-500 group-hover:bg-tertiary z-1 size-full p-7.5 flex flex-col justify-end"
      >
        Milli Endokrinologiya KONFRANSI
      </div>
      <div
        class="bg-no-repeat bg-cover bg-center absolute inset-0 transition-all duration-500 group-hover:scale-120"
        style="background-image: url(/istockphoto-1266580964-612x612-1-e1716402592864.jpg);"
      >
      </div>
    </a>
    <a
      href="#"
      class="md:row-span-2 md:min-h-130 min-h-62.5 group flex flex-col justify-end relative overflow-hidden rounded"
    >
      <div
        class="font-semibold text-white text-2xl transition-all duration-500 group-hover:bg-primary z-1 size-full p-7.5 flex flex-col justify-end"
      >
        Milli Endokrinologiya KONFRANSI
      </div>
      <div
        class="bg-no-repeat bg-cover bg-center absolute inset-0 transition-all duration-500 group-hover:scale-120"
        style="background-image: url(/istockphoto-1968023155-612x612-1.jpg);"
      >
      </div>
    </a>
    <a
      href="#"
      class="min-h-62.5 group flex flex-col justify-end relative overflow-hidden rounded"
    >
      <div
        class="font-semibold text-white text-2xl transition-all duration-500 group-hover:bg-dark z-1 size-full p-7.5 flex flex-col justify-end"
      >
        Milli Endokrinologiya KONFRANSI
      </div>
      <div
        class="bg-no-repeat bg-cover bg-center absolute inset-0 transition-all duration-500 group-hover:scale-120"
        style="background-image: url(/istockphoto-1266580964-612x612-1-e1716402592864.jpg);"
      >
      </div>
    </a>
    <a
      href="#"
      class="min-h-62.5 group flex flex-col justify-end relative overflow-hidden rounded"
    >
      <div
        class="font-semibold text-white text-2xl transition-all duration-500 group-hover:bg-secondary z-1 size-full p-7.5 flex flex-col justify-end"
      >
        Milli Endokrinologiya KONFRANSI
      </div>
      <div
        class="bg-no-repeat bg-cover bg-center absolute inset-0 transition-all duration-500 group-hover:scale-120"
        style="background-image: url(/istockphoto-1266580964-612x612-1-e1716402592864.jpg);"
      >
      </div>
    </a>
  </div>
</section>
