---
import Heading from "../components/Heading.astro";
import Card from "../components/conferences/Card.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Konfrans və Tədbirlər">
  <Heading title="Konfrans və Tədbirlər" />
  <section class="py-20 grid md:grid-cols-2 lg:grid-cols-3 gap-5 container">
    <Card />
    <Card />
    <Card />
    <Card />
  </section>
</Layout>
