---
import Layout from "../layouts/Layout.astro";
import Heading from "../components/Heading.astro";
import Card from "../components/curriculum/Card.astro";
---

<Layout title="Tədris">
  <Heading title="Tədris" />
  <section
    class="pt-20 pb-15 grid md:grid-cols-2 lg:grid-cols-3 gap-7 container"
  >
    <Card />
    <Card />
    <Card />
    <Card />
  </section>
</Layout>
