---
import Heading from "../components/Heading.astro";
import Card from "../components/multimedia/Card.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Multimedia">
  <Heading title="Multimedia" />
  <section
    class="pt-20 pb-12.5 grid md:grid-cols-2 lg:grid-cols-3 gap-7 container"
  >
    <Card />
    <Card />
    <Card />
    <Card />
  </section>
</Layout>
