---
import Heading from "../components/Heading.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Ölkəmizdə 1-ci Azərbaycan-Türkiyə Diabet Günləri keçiriləcək">
  <Heading
    title="Ölkəmizdə 1-ci Azərbaycan-Türkiyə Diabet Günləri keçiriləcək"
  />
  <main class="py-20 container flex flex-col gap-2.5 items-start">
    <div class="text-base [&>p]:mb-2.5">
      Sizi 6-7 sentyabr 2025-ci il tarixlərində Bakı Gənclər Mərkəzində
      keçiriləcək 1-ci Azərbaycan-Türkiyə Diabet Günlərinə dəvət etməkdən böyük
      məmnunluq duyuruq. Azərbaycan Endokrinoloqlar Cəmiyyəti və Türkiyə Diabet
      Cəmiyyəti tərəfindən birgə təşkil olunan bu tədbirdə həm ölkəmizdən, həm
      də Türkiyədən tanınmış professor və mütəxəssislər diabet sahəsində elmi və
      praktik məruzələrlə çıxış edəcəklər. Toplantı çərçivəsində diabetin
      müalicəsində komanda yanaşmasının vacibliyini vurğulamaq məqsədilə paralel
      olaraq “Diabet üzrə tibb bacısı kursu” və “Diabet dietologiyası kursu” da
      təşkil olunacaq. Tibb bacıları üçün kurs Türkiyədən dəvət olunmuş
      təcrübəli mütəxəssis tərəfindən aparılacaq, dietoloqlar üçün nəzərdə
      tutulmuş proqram isə Azərbaycan Nutrisiologiya və Dietologiya
      Assosiasiyasının təşkilatçılığı ilə baş tutacaq. Konfransın elmi proqramı
      praktiki yönümlü yanaşmalarla zənginləşdirilərək, iştirakçılar üçün
      faydalı müzakirə və bilik mübadiləsi platforması yaradacaqdır. Sizi bu
      mühüm toplantının bir parçası olmağa və diabet sahəsində biliklərinizi
      daha da genişləndirməyə dəvət edirik.
    </div>
    <a
      href="#"
      class="inline-block text-white rounded-full text-lg px-6 py-3 bg-zinc-700 hover:text-tertiary transition-all"
    >
      Ətraflı
    </a>
  </main>
</Layout>
