---
import Heading from "../components/Heading.astro";
import Card from "../components/press/Card.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Nəşrlər">
  <Heading title="Nəşrlər" />
  <section class="grid md:grid-cols-2 lg:grid-cols-3 gap-5 container py-20">
    <Card />
    <Card />
    <Card />
    <Card />
  </section>
</Layout>
