---
import { Icon } from "astro-icon/components";
---

<section class="bg-tertiary py-12.5">
  <div class="container flex justify-between items-center flex-wrap">
    <div class="text-2xl lg:text-3xl font-bold text-primary p-2.5 md:w-3/5">
      Birlikdə inkişaf etmək və ictimai sağlamlığı gücləndirmək üçün
    </div>
    <div class="p-2.5">
      <a
        href="#"
        class="text-white text-base bg-primary rounded-[50px] py-4 px-6 flex items-center gap-7.5 hover:bg-secondary transition-all w-fit"
      >
        Bizə qoşulun
        <Icon name="tabler:arrow-up-right" size={26} />
      </a>
    </div>
  </div>
</section>
