<div
  class="swiper-slide bg-primary bg-no-repeat bg-[center_right]"
  style="background-image: url(/main-2-e1742601456189.jpg);"
>
  <div
    class="container p-5 h-full flex flex-col justify-center items-start gap-6"
  >
    <div class="text-3xl lg:text-5xl xl:text-7xl font-medium text-white">
      Azərbaycan-Türkiyə tiroid/paratiroid xəstəlikləri davamlı təlim proqramı
    </div>
    <hr class="bg-tertiary w-1/5 h-1.5 border-0 rounded mb-12" />
    <a
      href="/about"
      class="bg-secondary rounded-[50px] py-4 px-7 text-base hover:bg-tertiary hover:text-primary transition-all text-white"
    >
      Haqqımızda
    </a>
  </div>
  <div class="bg-primary/50 absolute inset-0 -z-1"></div>
</div>
