---
import { Image } from "astro:assets";
import logo from "../../../public/logo-main-1.png";
---

<div class="swiper-slide">
  <a
    href="https://azec.org.az"
    target="_blank"
    class="grayscale hover:grayscale-0 transition-all"
  >
    <Image src={logo} alt="aec" />
  </a>
</div>
