---
import { Image } from "astro:assets";
import bg from "../../public/6783_towfiqubarbhuiyaj6g_szotmf4unsplash_942659-qo9qw4p6bisndqfj0jesisswzf7fshepzyqd6fcy5w.jpg";
---

<a
  href="/news-inner"
  class="aspect-square p-6 flex flex-col justify-between group transition-all relative"
>
  <div
    class="bg-primary rounded text-white pt-2 pb-1.5 px-2.5 w-fit font-medium text-xs xl:text-sm"
  >
    17 May 2024
  </div>
  <div class="flex flex-col gap-3">
    <h5
      class="text-primary group-hover:text-white group-active:text-white transition-all text-base xl:text-xl font-bold"
    >
      Visseral piylənmə indeksinin və digər göstəricilərin əhəmiyyəti
    </h5>
    <div
      class="text-neutral-500 text-sm font-medium flex items-center gap-2 group-hover:text-white group-active:text-white transition-all"
    >
      Ətraflı <div
        class="bg-tertiary rounded-full size-5 flex items-center justify-center text-primary"
      >
        <i class="fa-solid fa-arrow-right text-xs"></i>
      </div>
    </div>
  </div>
  <div
    class="bg-tertiary-light absolute inset-0 -z-1 group-hover:opacity-0 group-active:opacity-0 transition-all"
  >
  </div>
  <div
    class="absolute inset-0 -z-1 opacity-0 group-hover:opacity-100 group-active:opacity-100 transition-all"
  >
    <Image src={bg} alt="" class="size-full object-cover" />
  </div>
</a>
